@charset "ISO-8859-1";

body{
	
       background-Color: #298A08;
}
a{
	display: block;
	text-align: center;
	line-height: 200px;
	font-size: 1.8em;
}

div{
	
			border : thin solid black;
            text-Align : center;
            width : 130px;
            height : 200px;
            border-Radius: 10px;
            font-size: 1.5em;
            float: left;
            margin:5px;
            line-height: 190px;
}

#Ablage{
       border: thin solid black;
       position:absolute;
       background-Color: #298A08;
       width: 250px;
       height: 250px;
       right: 15%;
       top: 10%;
       color: #F2F2F2;
	
}

#Nachzieh{
	  border: thin solid black;
       position:absolute;
       background-Color: #8A4B08;
       width: 130px;
       height: 200px;
       left: 15%;
       top: 14%;
       border-Radius: 10px;
}

#Hand{
	position :absolute;
	border: thin dotted black;
	width : 85%;
	height:400px;
	padding: 10px;
	padding-bottom: 25px;
	bottom: -120px;
	left:7.5%;
    margin:15px;
}
