/*Aufgabe: Aufgabe 9
Name: Sarah Lönnqvist
Matrikel: 259116
Datum: 24.12.2018
    
Hiermit versichere ich, dass ich diesen Code selbst geschrieben habe. Er wurde nicht kopiert und auch nicht diktiert.
*/
@charset "ISO-8859-1";
canvas {
	border: 2px solid black;
	background-color: lightblue;
}